/* TWITCH API CSS */

:root {
    --theme: white;
    --txt: #333;
    --title: #555;
    --light: white;
    --bg: rgb(250, 250, 250);
    --wrapper: rgb(255, 255, 255);
    --border: rgb(135, 28, 206);
    --button: rgb(135, 28, 206);
    --shadow: 0 3px 6px rgba(135,28,206,0.9);
}

body, html {
    margin: 25px;
    line-height: 26px;
    background-color: var(--bg);
}

.wrapper {
    width: 450px;
    margin: auto;
    background-color: var(--wrapper);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
}

.title {
    padding-top: 10px;
    padding-left: 10px;
}

.btn {
    display: flex;
}

.btn .button {
    display: flex;
    margin: 0px;
    padding: 15px 30px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--button);
    background-color: var(--light);
    border: 3px solid var(--border);
    cursor: pointer;
}

 .btn .active, .btn button:hover {
    color: var(--light);
    background-color: var(--button);
}
.search {
    margin: 15px auto 15px 20px;
}

input {
    width: 95%;
    padding-left: 15px;
    background-color: lightgray;
    border: 1px solid grey;
    border-radius: 15px;
}

hr {
    width: 90%;
    color: var(--border);
    border: 1px solid;
}

/* Header & Footer CSS */
.header {
    color: var(--title);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.divide-line-header {
    color: var(--titles);
    margin-top: 25px;
    width: 25%;
 }

.footer {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--titles);
    background-color: var(--sw);
    text-align: center;
 }